chromadb==0.5.3
langchain==0.2.16
langchain-ollama==0.1.3
langchain-chroma==0.1.3
librosa==0.10.2.post1
pypdfium2==4.30.0
pyyaml==6.0.2
streamlit==1.38.0
streamlit-mic-recorder==0.0.8
transformers==4.44.2
pydub==0.25.1